DATABASE_NAME = 'name'
DATABASE_HOST = 'host.db.elephantsql.com'
DATABASE_USER = 'name'
DATABASE_PASSWORD = 'yourpassword'
DATABASE_PORT = '5432'

DEBUG = True

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'you@gmail.com'
EMAIL_HOST_PASSWORD = 'yourpassword'
EMAIL_PORT = 587

BASE_URL = "127.0.0.1:8000/foodvendor/"
SET_PASSWORD_URL ="api/v.1/auth/setpassword/"

DEFAULT_PASSWORD = "yourpassword"
